tbody {color: green;}
div {
  border:2px solid black;}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 100px;}
th, td {border: 2px solid blue;
  padding: 10px;}
.one {
  background-color: purple;}
caption {
  caption-side: bottom;
  font-weight: bold;
  margin-top: 10px;}
h2 {
  border-bottom: 3px solid pink;
  padding: 10px;}
#jan {
  background-color: red;}
#feb {
  background-color: rgb(112, 149, 57);
}
